<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
  <title>Timer</title>
</head>
<style>
  body {
    font-family: sans-serif;
    height: 200px;
    width: 250px;
    -webkit-user-select: none;
    cursor: default;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .blur {
    filter: blur(5px);
  }

  main {
    transition: filter 300ms ease-out;
  }

  .timer {
    margin: 10px;
    text-align: center;
    font-size: 55px;
  }

  .no-timer {
    font-size: 20px;
  }

  .buttons {
    margin: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .add {
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease;
  }

  .my-is-active {
    opacity: 1;
    z-index: 10 !important;
  }

  .content-main {
    padding: 10px;
    /* height: 50px; */
    background-color: white;
    border-radius: 10px;
  }
</style>

<body>
  <div id="app">
    <main v-bind:class="{blur: isShowModal}">
      <nav class="navbar is-info">
        <div class="navbar-brand">
          <h2 class="navbar-item">{{product && product.name}}</h2>
        </div>
      </nav>
      <div class="timer">
        <span v-if="!product" class="no-timer">作業を登録してください</span>
        <span v-else>
          {{hour}}{{secondCounter}}{{minite}}
        </span>
      </div>
      <div class="buttons">
        <a @click="onMenuClick">
          <i class="fas fa-bars"></i>
        </a>
        <a @click="onPlayClick">
          <i v-if="isPlay" class="fas fa-pause"></i>
          <i v-else class="fas fa-play"></i>
        </a>
        <a @click="onPlusClick">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </main>
    <div class="modal add" :class="{'is-active': true, 'my-is-active': isShowModal}">
      <div class="modal-background"></div>
      <div v-if="isShowModal" class="modal-content" style="max-height: 100%">
        <form class="content-main">
          <div class="field">
            <div class="control">
              <input class="input  is-small" ref="input" v-focus @keyup.esc="onCloseClick" v-model="inputName" type="text" placeholder="作業名(必須)"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input  is-small" @keyup.esc="onCloseClick" v-model="inputNumber" type="text" placeholder="案件番号" />
            </div>
          </div>
          <div class="control" style=" text-align: right">
            <input type="submit" value="追加" class="button is-info is-small"  @click="onAddClick">
          </div>
        </form>
      </div>
      <button class="modal-close is-small" aria-label="close" @click="onCloseClick"></button>
    </div>
  </div>
</body>
<script>
const { remote, ipcRenderer } = require("electron")
const Vue = require("./vue.min.js")
const Time = require("../Time")

// - [カスタムディレクティブ — Vue.js](https://jp.vuejs.org/v2/guide/custom-directive.html)
require("./components/v-focus")

let intervalId, timerIntevalId, config = {}

const component = {
  data: {
    product: null,
    inputName: "",
    inputNumber: "",
    isPlay: false,
    isViewSecondCouner: true,
    isShowModal: false
  },
  mounted() {
    window.onblur = e => {
      this.closeModal()
      ipcRenderer.send("window外をクリックした時", {isPlay: this.isPlay})
    }

    ipcRenderer.on("configを投げる時", (e, _config) => config = _config)

    ipcRenderer.on("作業が消された時", e => {
      this.product = null
      this.isPlay = false
      this.isViewSecondCouner = true
      if (intervalId) this.toggleTimer()
    })

    ipcRenderer.on("スリープに入った時", (e, powerEvent) => {
      // スリープに入った時かつisPlayの時タイマーをトグルし停止
      if (this.isPlay) {
        this.toggleTimer()
        console.log(`${new Date().toLocaleString()}にスリープに入りました`)
      }
    })

    ipcRenderer.on("スリープが解除された時", (e, powerEvent) => {
      if (this.isPlay) {
        this.toggleTimer()
        if (config.SLEEP_NOTIFICATION) {
          setTimeout(() => {
            new Notification("作業タイマーを再開します", {body: this.getTimerMessage()})
          }, 1000)
        }
      }
    })

    ipcRenderer.on("productを受け取る時", (e, product) => {
      product.time = new Time(product.count, product.old_count)
      console.log(product)
      this.product = product
      if (!intervalId) this.toggleTimer()
      this.isPlay = true
    })

    ipcRenderer.send("mainWindowをopenした時")

  },
  methods: {
    getTimerMessage() {
      const [h, m] = this.product.time.getHourMinite()
      return `現在の${this.product.name}の作業時間は${h!==0?h+"時間":""}${m}分です。`
    },
    toggleTimer() {
      if (!intervalId) {
        intervalId = setInterval(() => this.isViewSecondCouner = !this.isViewSecondCouner, 500)
        timerIntevalId = setInterval(() => this.miniteInterval(), 1000 * 60)
      }
      else {
        clearInterval(intervalId)
        clearInterval(timerIntevalId)
        intervalId = null
        timerIntevalId = null
        this.isViewSecondCouner = true
      }
    },
    miniteInterval() {
      const { id, date } = this.product
      const count = ++this.product.time.count
      ipcRenderer.send("1分ごとにカウントする時", { id, date, count })
      const interval = +config.NOTIFICATION_INTERVAL
      if (interval && interval !== 0 && count % interval === 0) {
        const str = interval >= 60 ? `${Math.floor(interval/60)}時間` : `${interval}分`
        new Notification(`${str}が経ちました。`, {body: this.getTimerMessage()})
      }
    },
    closeModal() {
      this.isShowModal = false
      this.inputName = ""
      this.inputNumber = ""
    },
    onPlayClick(e) {
      if (!this.product) return
      this.isPlay = !this.isPlay
      this.toggleTimer()
    },
    onPlusClick(e) {
      this.isShowModal = true
    },
    onCloseClick(e) {
      this.closeModal()
    },
    onAddClick(e) {
      e.preventDefault()
      if (this.inputName === "") {
        const el = this.$refs.input
        if (!el.classList.contains("is-danger")) {
          el.classList.add("is-danger")
          el.placeholder = "入力してください"
        }
        return
      }

      const inputName = this.inputName
      const inputNumber = this.inputNumber

      ipcRenderer.send("追加した時", {name: inputName, number: inputNumber})
      // 'productを受け取る時' call
      this.closeModal()

    },
    onMenuClick(e) {
      ipcRenderer.send("メニュークリックした時")
    }
  },
  computed: {
    hour() {
      if (!this.product || !this.product.time) return 0
      return this.product.time.hour
    },
    secondCounter() {
      return this.product !== null && this.isViewSecondCouner ? "：" : "　"
    },
    minite() {
      if (!this.product || !this.product.time) return "00"
      const m = this.product.time.minite
      const str = m < 10 ? "0" + m : m
      return str
    }
  }
}

const vue = new Vue(component).$mount("#app")


</script>

</html>