<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
</head>
<style>
  body {
    font-family: sans-serif;
    -webkit-user-select: none;
    cursor: default;
  }

  ::-webkit-scrollbar {
    display: none;
  }
</style>

<body>
  <div id="app">
    <v-tabs>
      <v-tab icon="fa-list-ul" title="作業一覧">
        <v-table></v-table>
      </v-tab>
      <v-tab icon="fa-file-alt" title="CSV書き出し">
        <v-csv-textare></v-csv-textare>
      </v-tab>
    </v-tabs>
  </div>
</body>

<script>
  const { remote, ipcRenderer } = require("electron")
  const { getDateStr } = require("../date-util")
  const Time = require("../Time")
  require("./components/Tabs")
  require("./components/v-focus")

  const Vue = require("./vue.min.js")

  let listDataLoadPromise = () => new Promise((resolve, reject) => {
    ipcRenderer.on("listDataを代入させたい時", (e, data) => resolve(data))
    ipcRenderer.send("listDataを欲しがった時")
  })

  let parentLoad;

  const oneMonthAgo = new Date
  oneMonthAgo.setMonth(oneMonthAgo.getMonth() - 1)
  oneMonthAgo.setDate(oneMonthAgo.getDate() + 1)

  Vue.component("v-table", {
    name: "v-table",
    template: /*html*/`
    <table class="table my-table">
      <thead>
        <tr>
          <th style="width: 250px">作業名</th>
          <th style="text-align: center;width: 120px">案件番号</th>
          <th style="text-align: center;width: 60px">時間</th>
          <th style="text-align: center;width: 110px">作業開始日</th>
          <th style="text-align: center;width: 110px">最終作業日</th>
          <th style="text-align: right;">
            <button class="button is-small" @click="load()">
              <i class="fas fa-sync-alt"></i>
              <span style="margin-left: 10px;">読み込み</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <v-table-item v-for="(product,i) of products" :product="product" @change="onProductChange(product, i)" @delete="onProductDelete(product)"></v-table-item>
      </tbody>
    </table>`,
    data: () => ({
      products: []
    }),
    created() {
      this.load()
      parentLoad = this.load.bind(this)
    },
    // TODO: ipc通信
    methods: {
      load() {
        return listDataLoadPromise().then(data => {
          data.forEach(p => p.time = new Time(p.count))
          this.products = data
        })

      },
      onProductChange(product, i) {
        const id = product.id
        ipcRenderer.on("作業切り替え完了時", e => {
          this.products.forEach(product => product.is_active = false)
          this.products[i].is_active = true
        })
        ipcRenderer.send("作業切り替え時", { id })
      },
      onProductDelete(product) {
        ipcRenderer.on("作業削除完了時", e => {
          this.load()
        })
        ipcRenderer.send("作業削除時", { id: product.id, is_active: product.is_active })
      }
    }
  })

  // TODO: スクロール対応
  Vue.component("v-table-item", {
    name: "v-table-item",
    template: /*html*/`
    <tr>
      <v-editable-td style="font-size: 13px;" v-bind="{id: product.id, target: 'name', value: product.name, nullable: false}">
        {{product.name}}
      </v-editable-td>
      <v-editable-td style="text-align: center" v-bind="{id: product.id, target: 'number', value: product.number}">
        {{product.number}}
      </v-editable-td>
      <td style="text-align: center">{{product.time.toString()}}</td>
      <td style="text-align: center">{{product.created_at}}</td>
      <td style="text-align: center">{{product.updated_at}}</td>
      <td style="text-align: right;">
        <button class="button is-info is-small" :disabled="product.is_active" @click="onChangeClick">切り替え</button>
        <button class="button is-danger is-small" @click="onDeleteClick">削除</button>
      </td>
    </tr>`,
    props: ["product"],
    methods: {
      onChangeClick(e) {
        if (confirm(this.product.name + "に切り替えますか？")) {
          this.$emit("change")
        }
      },
      onDeleteClick(e) {
        if (confirm(this.product.name + "を削除しますか？")) {
          this.$emit("delete")
        }
      }
    }

  })

  Vue.component("v-editable-td", {
    name: "v-editable-td",
    template: /*html*/`
    <td style="position:relative"  @mouseenter="onEnter" @mouseleave="onLeave">
      <a v-show="isEnter" class="fas fa-pencil-alt" style="position: absolute;right: 10px;top: 10px; font-size: 15px;" @click="onEditClick"></a>
      <slot/>
      <div v-if="isEdit" @click="onClose" style="position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; background-color: white;opacity: 0.6; z-index: 20"/>
      <div v-if="isEdit" style="position: absolute;top: 30px;left: 0;box-shadow: 0 0 12px;border-radius: 7px;padding:7px;padding-bottom: 0; width: 100%;background-color: white;z-index: 400 !important;">
        <input v-model="value" v-focus class="input" @keyup.esc="onClose" @keyup.enter="onCheck">
        <div style="margin: 5px 0; text-align: right">
          <a class="button is-danger is-small" style="border-radius: 30px" @click="onClose">
            <i class="fas fa-times"></i>
          </a>
          <a class="button is-info is-small" :class="{'is-loading': isLoading}" style="border-radius: 30px" @click="onCheck">
            <i class="fas fa-check"></i>
          </a>
        </div>
      </div>
    </td>`,
    data: () => ({
      isEnter: false,
      isEdit: false,
      isLoading: false
    }),
    props: {
      id: { type: "number" },
      target: { type: "string" },
      value: { default: "" },
      nullable: { default: true }
    },
    methods: {
      onEnter() {
        this.isEnter = true
      },
      onLeave() {
        this.isEnter = false
      },
      onEditClick() {
        this.isEdit = true
      },
      onClose() {
        this.isEdit = false
        this.isEnter = false
        this.isLoading = false
      },
      onCheck() {
        if (!this.nullable && this.value === "") {
          alert("未入力のため更新されませんでした。")
          this.isEdit = false
          return
        }
        this.isLoading = true
        const {id, target, value} = this

        new Promise((resolve, reject) => {
          ipcRenderer.on("update完了した時", resolve)
          ipcRenderer.send("managementWindowでupdateをした時", {id, target, value})
        })
        .then(() => parentLoad())
        .then(() => this.onClose())
      }
    }
  })

  Vue.component("v-csv-textare", {
    name: "v-csv-textare",
    template: /*html*/`
    <div>
      <div class="control">
        <textarea ref="textArea" class="textarea" type="text" style="resize: none;height: 350px" readonly>{{csvText}}</textarea>
        <div>
          <button :class="['button','is-small',{'is-success': isCopied}]" @click="onCopyClick" :style="copyStyle" :disabled="isLoading">
            <i v-if="isCopied" class="fas fa-check"></i>
            <i v-else class="far fa-copy"></i>
            <span style="margin-left: 5px">コピー</span>
          </button>
        </div>
        <div v-if="isLoading">
          <span :style="loadingStyle"><i class="fas fa-spinner fa-pulse"></i></span>
        </div>
      </div>
      <div style="margin-top: 12.5px;float: right; font-size: 14px">
        <label class="checkbox">
          <input type="checkbox" @change="onChange" v-model="isSummary">
          作業をまとめる
        </label>
      </div>
      <div class="control" style="margin-top: 10px;display: flex">
        <div style="width: 150px">
          <input class="input is-small" type="date" value="${getDateStr(oneMonthAgo)}" @change="onChange" ref="startInput">
        </div>
        <span style="margin-left: 5px;margin-right: 5px;">から</span>
        <div style="width: 150px">
          <input class="input is-small" type="date" value="${getDateStr()}" @change="onChange" ref="endInput">
        </div>
        <span style="margin-left: 5px;margin-right: 5px;">まで</span>
      </div>

    </div>`,
    data: () => ({
      csvText: "",
      isLoading: true,
      isCopied: false,
      isSummary: true,
      loadingStyle: {
        position: "absolute",
        top: "160px",
        left: "380px",
        "font-size": "40px"
      },
      copyStyle: {
        position: "absolute",
        top: "10px",
        right: "10px",
      },
    }),
    mounted() {
      this.load()
    },
    methods: {
      load() {
        this.isLoading = true
        this.createCsvText().then(csvText => {
          this.csvText = csvText
          this.isLoading = false
        })
      },
      createCsvText() {
        const { startInput, endInput } = this.$refs
        const start = getDateStr(startInput.valueAsDate)
        const end = getDateStr(endInput.valueAsDate)

        const namePromise = new Promise(resolve => ipcRenderer.on("configを投げる時", (e, config) => resolve(config)))
          .then(config => config.NAME)

        ipcRenderer.send("managementWindowがconfigを欲しがった時")

        const dataPromise = new Promise(resolve =>
          ipcRenderer.on("csvDataを代入させたい時", (e, data) => {
            data.forEach(p => p.time = new Time(p.count))
            resolve(data)
          })
        )
        ipcRenderer.send("csvDataを欲しがった時", { start, end }, !this.isSummary)

        return Promise.all([namePromise, dataPromise])
          .then(([name, data]) => "日付,氏名,案件番号,工数,備考\n" + data.filter(p => p.number).map(p => {
            return `${p.date},${name},${p.number},${p.time.getProductTime()},なし`
          }).join("\n"))
      },
      onCopyClick(e) {
        const { textArea } = this.$refs
        textArea.select();
        const retVal = document.execCommand('copy');
        this.isCopied = retVal
      },
      onChange(e) {
        const { startInput, endInput } = this.$refs
        const start = startInput.valueAsDate
        const end = endInput.valueAsDate
        console.log("onchange", start, end);

        if (!start || !end) {
          if (!start)
            !startInput.classList.contains("is-danger") && startInput.classList.add("is-danger");
          else
            startInput.classList.remove("is-danger");

          if (!end)
            !endInput.classList.contains("is-danger") && endInput.classList.add("is-danger");
          else
            endInput.classList.remove("is-danger");

          return
        }
        this.load()
      }
    }
  })

  const vue = new Vue().$mount("#app")
</script>

</html>